html, body {
    margin: 0;
    padding: 0;
}

.suboption {
    display: flex;
    align-items: center;
    padding: 2% 0;
}
.suboption a {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    text-decoration: none;
    padding: 0vw 1vw;
    align-items: center;
    display: flex;
    transition: transform 0.3s;
}
.suboption img {
    display: block;
    width: calc(1vw + 50px);
}

.suboption p {
    margin-left: 1vw;
}

.suboption a:hover{
    transform: scale(1.03);
}

.options {
    padding: 0% 2%;
    margin-top: 10%;
}

.paragraph {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    width: 50vw;
}

.aboutmain {
    padding: 0% 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutfull {
    margin-top: 10%;
    display: flex;
}

.aboutfull img{
    width: 40vw;
    box-shadow: 0 0 0.5em 0.1em rgba(0,0,0,0.45);
    border-radius: 0.2em;
}

.resume a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1em;
    font-size: calc(5px + 1.3vw);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    transition: box-shadow 0.3s;
}
.resume a:hover{
    box-shadow: 0 0 0.4em 0 rgba(0,0,0,0.5);
    border-radius: 0.5em;
    transform: scale(1.05);
}


.name {
    position: relative;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.topbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    opacity: 90%;
}

.topbar2 {
    margin-top: -35px;
    margin-bottom: -35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2.5vw;
    width: 100%;
}

.line {
    position: fixed;
    width: 96%;
    height: 1px;
    background-color: rgb(128, 128, 128);
    left: 2%;
    margin-left: auto;
}

.navbar {
    margin-right: 8vh;
}

.navbar ul{
    list-style-type: none;
}

.navbar a{
    color: black;
    text-decoration: none;
    display: flex;
    text-align: center;
    padding: 1em;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: box-shadow 0.3s;
}
.navbar a:hover{
    /*background-color: rgb(205, 201, 201);*/
    box-shadow: 0 0 0.4em 0 rgba(0,0,0,0.5);
    border-radius: 0.5em;
    /*color: white;*/
}

.navbar li{
    float: right;
    padding: 0.5em;
    margin-top: -4vh;
}
.active {
    border-bottom: 1px solid grey;
}

.gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 2%;
    padding: 0% 2.5%;
}

.gallery a{
    text-decoration: none;
    color: black;
}

.gallery img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 0.5em 0 rgba(85, 85, 85, 0.45);
    border-radius: 0.2em;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery p {
    position: relative;
    top: -5%;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.gallery img:hover{
    opacity: 80%;
    transform: scale(1.05);
    box-shadow: 0 0px 1em rgba(0, 0, 0, 0.3);
}


@media (max-width: 750px){
    .options {
        margin-top: 40%;
    }

    .aboutfull {
        margin-top: 40%;
    }

    .gallery {
        margin-top: 40%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar li {
        float: none;
    }
    .topbar2 {
        margin-top: -35px;;
        margin-bottom: -60px;
    }

    @media (max-width: 500px) {
        .options {
            margin-top: 60%;
        }
    
        .aboutfull {
            margin-top: 60%;
        }
    
        .gallery {
            margin-top: 60%;
        }
        .suboption {
            padding: 4% 0;
        }
    }
    
}